@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "_AccountLayout";
}

<h1>Qeydiyyat</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post" autocomplete="off">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName">Adınız</label>
                <input asp-for="UserName" class="form-control" autocomplete="disable"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" autocomplete="disable"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Şifrə</label>
                <input asp-for="Password" class="form-control" autocomplete="disable"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Təkrar Şifrə</label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Qeydiyyat</button>
            <a asp-action="index" asp-controller="home" class="btn btn-primary">Ana Səhifə</a>
        </form>

        @* <a asp-controller="Account" asp-action="Login">Giriş</a> *@
    </div>
</div>