@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model AccountantWeb.Models.DebtRepaymentModel

@{
    ViewData["Title"] = "Create";
}

<h1>Ödəniş et</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="DebtsId" value="@ViewBag.DebtsId" hidden />
            <input asp-for="Author" value="@User.Identity.Name" hidden />
            
            <div class="form-group">
                <label asp-for="Date" class="control-label">Tarix</label>
                <input asp-for="Date" class="form-control"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Məbləğ</label>
                <input asp-for="Amount" min="0" max="@ViewBag.DebtsAmount" class="form-control"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label">Valyuta</label>
                <input asp-for="Currency" class="form-control"/>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label">Rəu</label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ödəniş et" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
