@using EmployeeManagement.Models
@using Microsoft.AspNetCore.Identity
@using AccountantWeb.Models
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html lang="en"
      dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Accountant</title>

    <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
    <meta name="robots"
          content="noindex">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&display=swap"
          rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css"
          href="~/vendor/perfect-scrollbar.css"
          rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css"
          href="~/css/material-icons.css"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css"
          href="~/css/fontawesome.css"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="~/vendor/spinkit.css"
          rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css"
          href="~/css/app.css"
          rel="stylesheet">

</head>

<body class=" layout-fluid">

<div class="preloader">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>

    <!-- <div class="sk-bounce">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
    </div> -->
    <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples.html -->
</div>

<!-- Header Layout -->
<div class="mdk-header-layout js-mdk-header-layout">

<!-- Header -->

<div id="header"
     data-fixed
     class="mdk-header js-mdk-header mb-0">
<div class="mdk-header__content">

<!-- Navbar -->
<nav id="default-navbar"
     class="navbar navbar-expand navbar-dark bg-primary m-0">
<div class="container-fluid">
<!-- Toggle sidebar -->


<!-- Brand -->
<a asp-controller="home" asp-action="index"
   class="navbar-brand">
    <img src="~/images/logo/white.svg"
         class="mr-2"
         alt="Accountant"/>
    <span class="d-none d-xs-md-block">Accountant</span>
</a>



@if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown ml-1 ml-md-3">
            <a class="nav-link dropdown-toggle"
               data-toggle="dropdown"
               href="#"
               role="button">
                <img src="~/images/logo/white.svg"
                     alt="Avatar"
                     class="rounded-circle"
                     width="40">
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                <form method="post"
                      asp-controller="account" asp-action="logout">
                    <button type="submit" style="width:auto">
                        Logout 
                    </button>
                </form>

            </div>
        </li>
    }


<!-- Menu -->


<!-- Menu -->

<!-- // END Menu -->
</div>
</nav>
<!-- // END Navbar -->

</div>
</div>

<!-- // END Header -->
<!-- Header Layout Content -->
<div class="mdk-header-layout__content">

    <div data-push
         data-responsive-width="992px"
         class="mdk-drawer-layout js-mdk-drawer-layout">
        <div class="mdk-drawer-layout__content page ">

            <div style="margin: 0 auto;width:700px;">
                
                @RenderBody()
            </div>

        </div>

     

        <!-- App Settings FAB -->


    </div>
</div>

<!-- jQuery -->
<script src="~/vendor/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="~/vendor/popper.min.js"></script>
<script src="~/vendor/bootstrap.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="~/vendor/perfect-scrollbar.min.js"></script>

<!-- MDK -->
<script src="~/vendor/dom-factory.js"></script>
<script src="~/vendor/material-design-kit.js"></script>

<!-- App JS -->
<script src="~/js/app.js"></script>

<!-- Highlight.js -->
<script src="~/js/hljs.js"></script>

<!-- App Settings (safe to remove) -->
<script src="~/js/app-settings.js"></script>

<!-- Global Settings -->
<script src="~/js/settings.js"></script>

<!-- Moment.js -->
<script src="~/vendor/moment.min.js"></script>
<script src="~/vendor/moment-range.js"></script>

<!-- Chart.js -->
<script src="~/vendor/Chart.min.js"></script>
<script src="~/js/chartjs.js"></script>

<!-- Student Dashboard Page JS -->
<!-- <script src="assets/js/chartjs-rounded-bar.js"></script> -->
<script src="~/js/page.student-dashboard.js"></script>

</body>

</html>