@using AccountantWeb.Models
@model Profit

<h1>Redaktə et</h1>
<div class="card card-body">
    <div class="row">

        <div class="col-lg-8 d-flex align-items-center">
            <form class="flex" asp-controller="profit" asp-action="edit" method="post">
                <input hidden asp-for="Id">
                <input asp-for="RoleName" value="@Model.RoleName" hidden>
                <input asp-for="Author" value="@Model.Author" hidden>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">@localizer["Name"]</label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">Tarix</label>
                    <input asp-for="Date" class="form-control"/>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="exampleInputPassword1">Məbləğ:</label>
                    <input asp-for="Amount" type="number" class="form-control" id="exampleInputPassword1" placeholder="Məbləğ">
                    <span asp-validation-for="Amount" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label class="form-label" for="exampleInputPassword1">Valyuta:</label>
                    <select asp-for="Currency" class="form-control"
                            asp-items="Html.GetEnumSelectList<Curr>()">
                        <option value="">Please Select</option>
                    </select>
                    <span asp-validation-for="Currency" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label class="form-label">Status:</label>
                    <select asp-for="Status" class="form-control"
                            asp-items="Html.GetEnumSelectList<Stat>()">
                        <option value="">Seçim et</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label class="form-label" for="exampleInputPassword1">Rəy</label>
                    <textarea asp-for="Comment" type="text" class="form-control" rows="7" id="exampleInputPassword1" placeholder="Rəy"></textarea>
                </div>


                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Own"/> Şəxsi

                    </label>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Yenilə</button>
                        <a asp-controller="Home" asp-action="index" class="btn btn-danger">Ləğv et</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>